<div class="col-lg-8 offset-lg-2">
  <div class="jumbotron">
    <h1 class="h1-strong">{{ title }}</h1>
    <p class="jumboParraf">Disfruta de las publicaciones</p>
    <div class="jumboButtons">
      <a class="btn btn-primary btn-lg" role="button" href="#">Publicaciones</a>
      <a class="btn btn-success btn-lg" role="button" href="#">Mi Perfil</a>
      <a class="btn btn-warning btn-lg" role="button" href="#">Gente</a>
      <a class="btn btn-dark btn-lg" role="button" href="#">Avisos</a>
    </div>
  </div>
</div>
