<div class="col-lg-8 offset-lg-2">
  <div class="jumbotron">
    <h1 class="h1-strong">{{ title }}</h1>
    <p class="jumboParraf">Disfruta de las publicaciones</p>
    <div class="jumboButtons">
      <a
        class="btn btn-primary btn-lg"
        role="button"
        [routerLink]="['/timeline']"
        [routerLinkActive]="['active']"
        >Publicaciones</a
      >
      <a
        class="btn btn-success btn-lg"
        role="button"
        [routerLink]="['/perfil', identity._id]"
        [routerLinkActive]="['active']"
        >Mi Perfil</a
      >
      <a
        class="btn btn-warning btn-lg"
        role="button"
        [routerLink]="['/gente']"
        [routerLinkActive]="['active']"
        >Gente</a
      >
      <a
        class="btn btn-dark btn-lg"
        role="button"
        [routerLink]="['/avisos', 1]"
        [routerLinkActive]="['active']"
        >Avisos</a
      >
    </div>
  </div>
</div>

<app-all-publications></app-all-publications>
