<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="h1-strong">{{ title }}</h1>
      <div class="people" *ngIf="following">
        <div *ngFor="let follow of following" class="item-user">
          <div class="card">
            <div class="card-body">
              <div class="image-user float-start">
                <a [routerLink]="['/perfil', follow.followed._id]">
                  <img
                    src="{{ imageUrl + follow.followed.avatar }}"
                    alt=""
                    class="portrait"
                    *ngIf="follow.followed.avatar"
                  />
                  <img
                    src="../../../assets/images/userAvatar.png"
                    alt=""
                    class="portrait"
                    *ngIf="!follow.followed.avatar"
                  />
                </a>
              </div>
              <div class="user-name float-sm-start">
                <p>
                  <a
                    [routerLink]="['/perfil', follow.followed._id]"
                    class="name-surname"
                  >
                    {{
                      follow.followed.firstname + " " + follow.followed.lastname
                    }}
                  </a>
                </p>
                <p class="nickname">
                  {{ follow.followed.nick }}
                </p>
              </div>
              <div
                class="float-end"
                *ngIf="follow.followed._id != identity._id"
              >
                <button
                  class="btn btn-success"
                  *ngIf="follows && follows.indexOf(follow.followed._id) < 0"
                  (click)="followUser(follow.followed._id)"
                >
                  <i class="fa-solid fa-circle-plus"></i> Seguir
                </button>
                <button
                  class="btn btn-primary"
                  *ngIf="follows && follows.indexOf(follow.followed._id) >= 0"
                  (mouseenter)="mouseEnter(follow.followed._id)"
                  (mouseleave)="mouseLeave(follow.followed._id)"
                  (click)="unfollowUser(follow.followed._id)"
                  [class.btn-danger]="follow.followed._id == followUserOver"
                >
                  <span
                    *ngIf="
                      follow.followed._id == followUserOver;
                      else following
                    "
                  >
                    <i class="fa-solid fa-circle-minus"></i> Dejar de Seguir
                  </span>
                  <ng-template #following>
                    <i class="fa-solid fa-circle-check"></i> Siguiendo
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <sidebar></sidebar>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
