<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="h1-strong">
        {{ title }}
        <button
          id="btnCreateNotice"
          class="btn btn-primary"
          [routerLink]="['/addnotice']"
        >
          Crear Aviso
        </button>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" *ngFor="let notice of fetchedNotices">
      <div id="notices">
        <div class="item-notices">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-1">
                  <div class="image-user float start">
                    <a [routerLink]="['/perfil', notice.user._id]">
                      <img
                        src="{{ imageUrl + notice.user.avatar }}"
                        alt=""
                        class="potrait"
                        *ngIf="notice.user.avatar"
                      />
                      <img
                        src="../../../assets/images/userAvatar.png"
                        alt=""
                        class="portrait"
                        *ngIf="!notice.user.avatar"
                      />
                    </a>
                  </div>
                </div>

                <!-- Columna para el contenido del aviso -->
                <div class="col-lg-11">
                  <div>
                    <ng-container *ngIf="notice.user && notice.user._id">
                      <a
                        [routerLink]="['/perfil', notice.user._id]"
                        class="user-name"
                      >
                        {{ notice.user.firstname + " " + notice.user.lastname }}
                      </a>
                      &nbsp;|&nbsp;
                    </ng-container>
                    <span class="date">
                      {{
                        notice.created_at
                          | amFromUnix
                          | amLocale : "es"
                          | amTimeAgo
                      }}
                    </span>
                  </div>

                  <h2 class="notice-title">
                    {{ notice.title }}
                  </h2>
                  <h4 class="notice-text">
                    {{ notice.text }}
                  </h4>
                  <h5 class="notice-city">
                    <i class="fa-solid fa-location-dot"></i>
                    {{ notice.region + " | " + notice.city }}
                  </h5>
                  <h6 class="notice-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    {{ notice.date }}
                  </h6>
                  <ng-container *ngIf="notice.phone && notice.email">
                    <h6 class="notice-contact">
                      <i class="fa-solid fa-phone"></i>
                      {{ notice.phone }}&nbsp;|&nbsp;<i
                        class="fa-solid fa-envelope"
                      ></i>
                      {{ notice.email }}
                    </h6>
                  </ng-container>
                  <h6
                    class="notice-contact"
                    *ngIf="notice.phone && !notice.email"
                  >
                    <i class="fa-solid fa-phone"></i>
                    {{ notice.phone }}
                  </h6>
                  <h6
                    class="notice-contact"
                    *ngIf="notice.email && !notice.phone"
                  >
                    <i class="fa-solid fa-envelope"></i>
                    {{ notice.email }}
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-12 text-center"
    *ngIf="
      fetchedNotices.length > 0 && fetchedNotices.length >= 5 && !noMoreNotices
    "
  >
    <button class="btn btn-success" (click)="viewMoreNotices()">Ver más</button>
  </div>
</div>
