#data-profile {
  min-height: 500px;
  text-align: left;
}

#data-profile .avatar {
  width: 185px;
  height: 185px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}

#data-profile .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#data-profile .user-name {
  margin-top: 25px;
}

#data-profile .user-name .name {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

#data-profile .user-name .nick {
  font-size: 24px;
  font-weight: normal;
  color: gray;
}

.stats {
  border-left: 4px solid #ccc;
  margin-left: 35px;
  padding-left: 25px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats a {
  vertical-align: middle;
  font-size: 20px;
  line-height: 35px;
  color: #555;
  text-decoration: none;
}

.publications {
  margin-top: 40px;
}
