.h1-strong {
  font-size: 35px;
  font-weight: bold;
  margin-left: 13px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.item-user .image-user {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.item-user {
  margin-bottom: 10px;
  margin-left: 13px;
}

.item-user .image-user img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.item-user .user-name {
  margin-left: 15px;
}

.item-user .user-name .nickname {
  color: #969393;
}

.item-user .user-name .name-surname {
  color: #444;
  text-decoration: none;
}
