<div class="col-lg-8">
  <h1 class="h1-strong">{{ title }}</h1>

  <div class="people">
    <div *ngFor="let user of users" class="item-user">
      <div class="card">
        <div class="card-body">
          <div class="image-user float-start">
            <a href="#">
              <img
                src="{{ imageUrl + user.avatar }}"
                alt=""
                class="portrait"
                *ngIf="user.avatar"
              />
              <img
                src="../../../assets/images/userAvatar.png"
                alt=""
                class="portrait"
                *ngIf="!user.avatar"
              />
            </a>
          </div>
          <div class="user-name float-sm-start">
            <p>
              <a href="" class="name-surname">
                {{ user.firstname + " " + user.lastname }}
              </a>
            </p>
            <p class="nickname">
              {{ user.nick }}
            </p>
          </div>
        </div>
        <!-- SEGUIR/DEJAR DE SEGUIR-->
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" *ngIf="page == 1">
          <a class="page-link" [routerLink]="['/gente', nextPage]">Siguiente</a>
        </li>
        <li class="page-item" *ngIf="page > 1 && page < pages">
          <div class="d-flex">
            <a class="page-link mr-2" [routerLink]="['/gente', prevPage]"
              >Anterior</a
            >
            <a class="page-link" [routerLink]="['/gente', nextPage]"
              >Siguiente</a
            >
          </div>
        </li>
        <li class="page-item" *ngIf="page === pages && page !== 1">
          <a class="page-link" [routerLink]="['/gente', prevPage]">Anterior</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
