#user-card {
  padding: 20px;
  width: 97%;
  overflow-x: hidden;
}

#user-card .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}

#user-card .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-card .first-lastname {
  font-weight: bold;
  font-size: 17px;
}

#user-card .first-lastname a {
  color: #555;
  text-decoration: none;
}

#user-card .first-lastname .nickname {
  color: #555;
}

#user-card .stats {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

#user-card .stats a:hover {
  text-decoration: none;
}

#user-card .stats a:hover .number-stats {
  color: gray;
}

#user-card .label-stats,
#user-card .number-stats {
  display: block;
  text-align: center;
  transition: all 300ms;
}

#user-card .label-stats {
  font-weight: bold;
  color: #555;
}

#user-card .number-stats {
  font-weight: bold;
  color: green;
}

#user-card .following-data {
  float: left;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 10px;
  border-right: 2px solid #ccc;
}

#user-card .following-data:first-child {
  padding-left: 6px;
}

#user-card .following-data:last-child {
  border: none;
}

#new-publication {
  margin-top: 15px;
  width: 97%;
  padding: 18px;
  padding-left: 8px;
  overflow-x: hidden;
}
#new-publication .title,
.file {
  font-weight: bold;
  text-align: center;
}

#new-publication textarea {
  resize: none;
}
