.placeholder {
  width: 100%;
}

.item-publication {
  margin-bottom: 10px;
  margin-left: 13px;
}
.item-publication .image-user {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.item-publication .image-user img {
  position: absolute;
  height: 100%;
  width: auto;
  border-radius: 100px;
  object-fit: cover;
}

.item-publication .user-name {
  margin-left: 25px;
  color: #444;
  text-decoration: none;
}

.item-publication .user-name:hover {
  text-decoration: underline;
}

.item-publication .date {
  color: gray;
}

.item-publication .publication-text {
  margin-left: 100px;
}
