<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="h1-strong">
        {{ title }}
        <button class="btn btn-primary btn-sm" (click)="refresh()">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="!loading">Refrescar</span>
        </button>
      </h1>

      <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
          <div class="card">
            <div class="card-body">
              <div class="image-user float-start">
                <a [routerLink]="['/perfil', publication.user._id]">
                  <img
                    src="{{ imageUrl + publication.user.avatar }}"
                    alt=""
                    class="portrait"
                    *ngIf="publication.user.avatar"
                  />
                  <img
                    src="../../../assets/images/userAvatar.png"
                    alt=""
                    class="portrait"
                    *ngIf="!publication.user.avatar"
                  />
                </a>
              </div>
              <div>
                <ng-container *ngIf="publication.user && publication.user._id">
                  <a
                    [routerLink]="['/perfil', publication.user._id]"
                    class="user-name"
                  >
                    {{
                      publication.user.firstname +
                        " " +
                        publication.user.lastname
                    }}
                  </a>
                  &nbsp;|&nbsp;
                </ng-container>
                <span class="date">
                  {{
                    publication.created_at
                      | amFromUnix
                      | amLocale : "es"
                      | amTimeAgo
                  }}
                </span>
              </div>

              <h4 class="publication-text">
                {{ publication.text }}
              </h4>
              <div class="container-fluid">
                <!-- Botones -->
                <div
                  class="d-flex justify-content-end"
                  *ngIf="
                    publication.file || publication.user._id === identity._id
                  "
                >
                  <!-- Botón para mostrar la imagen (solo si la imagen existe) -->
                  <button
                    type="button"
                    class="btn btn-warning me-2"
                    (click)="showThisImage(publication._id)"
                    *ngIf="publication.file && showImage !== publication._id"
                  >
                    <i class="fa-solid fa-image"></i>
                  </button>

                  <!-- Botón para ocultar la imagen (solo si la imagen está visible) -->
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="hideThisImage(publication._id)"
                    *ngIf="showImage === publication._id"
                  >
                    <i class="fa-solid fa-circle-minus"></i>
                  </button>
                </div>

                <!-- Mostrar la imagen si existe y si está visible -->
                <div
                  class="row"
                  *ngIf="publication.file && showImage === publication._id"
                >
                  <div class="col-lg-12">
                    <img
                      src="{{ url + 'get-image-pub/' + publication.file }}"
                      class="col-lg-12"
                    />
                  </div>
                </div>
                <div id="waveform" *ngIf="publication.audio">
                  <audio controls>
                    <source
                      [src]="url + 'get-audio-pub/' + publication.audio"
                      type="audio/mpeg"
                    />
                    Tu navegador no soporta la reproducción de audio.
                  </audio>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 text-center" *ngIf="publications.length === 0">
          <p>No hay publicaciones disponibles.</p>
          <p>Ve a seguir gente!</p>
        </div>
        <div
          class="col-lg-12 text-center"
          *ngIf="publications.length > 0 && publications.length >= 5 && !noMore"
        >
          <button class="btn btn-success" (click)="viewMore()">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <sidebar (sended)="refresh()"></sidebar>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
