<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="h1-strong">
        {{ title }}
        <button class="btn btn-primary btn-sm" (click)="refresh($event)">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="!loading">Refrescar</span>
        </button>
      </h1>

      <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
          <div class="card">
            <div class="card-body">
              <div class="image-user float-start">
                <a href="#">
                  <img
                    src="{{ imageUrl + publication.user.avatar }}"
                    alt=""
                    class="portrait"
                    *ngIf="publication.user.avatar"
                  />
                  <img
                    src="../../../assets/images/userAvatar.png"
                    alt=""
                    class="portrait"
                    *ngIf="!publication.user.avatar"
                  />
                </a>
              </div>
              <div>
                <span class="user-name">
                  {{
                    publication.user.firstname + " " + publication.user.lastname
                  }}
                </span>
                &nbsp;|&nbsp;
                <span class="date">
                  {{
                    publication.created_at
                      | amFromUnix
                      | amLocale : "es"
                      | amTimeAgo
                  }}
                </span>
              </div>

              <h4 class="publication-text">
                {{ publication.text }}
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center" *ngIf="publications.length === 0">
          <p>No hay publicaciones disponibles.</p>
          <p>Ve a seguir gente!</p>
        </div>
        <div
          class="col-lg-12 text-center"
          *ngIf="publications.length > 0 && !noMore"
        >
          <button class="btn btn-success" (click)="viewMore()">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <sidebar (sended)="refresh($event)"></sidebar>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
