/* Generals */
.h1-strong {
  font-size: 35px;
  font-weight: bold;
  margin-left: 13px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.input-register,
.input-login {
  font-size: 15px;
  font-weight: bold;
  margin-left: 13px;
}

.btn-register,
.btn-login {
  margin-left: 13px;
  margin-top: 15px;
}

/* Header */
.navigation {
  padding: 0px !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.navbar-brand {
  width: 100px;
}

.navigation .navbar {
  border-radius: 0px !important;
  background-color: gray !important;
}

.navigation .navbar * {
  color: white !important;
}

.navigation .form-control {
  color: black !important;
}
