<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="h1-strong">Agregar Nuevo Aviso</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form (ngSubmit)="onSubmitAddNotice()" class="formAddNotice">
        <div class="mb-3">
          <label for="title" class="form-label">Título del aviso</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="notice.title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Texto del aviso</label>
          <textarea
            class="form-control"
            id="text"
            name="text"
            rows="4"
            [(ngModel)]="notice.text"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Fecha y Hora</label>
          <input
            type="datetime-local"
            class="form-control"
            id="date"
            name="date"
            [(ngModel)]="formattedDate"
            (change)="onDateChange($event)"
            #dateInput
            required
          />
        </div>

        <div class="mb-3">
          <label for="region" class="form-label">Región</label>
          <select
            class="form-select"
            id="region"
            name="region"
            [(ngModel)]="notice.region"
            (change)="onRegionChange()"
            required
          >
            <option value="" disabled>Selecciona región</option>
            <option
              *ngFor="let region of regionData.regiones"
              [value]="region.region"
            >
              {{ region.region }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">Ciudad</label>
          <select
            class="form-select"
            id="city"
            name="city"
            [(ngModel)]="notice.city"
            required
          >
            <option value="" disabled>Selecciona comuna</option>
            <option *ngFor="let comuna of selectedRegionComunas">
              {{ comuna }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="contact"
            name="contact"
            [(ngModel)]="notice.email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Teléfono</label>
          <input
            type="number"
            class="form-control"
            id="contact"
            name="contact"
            [(ngModel)]="notice.phone"
            placeholder="Ej: 912345678"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Guardar Aviso</button>
      </form>
    </div>
  </div>
</div>
